@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

.NewGroupBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);

    .blank {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100vh;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0);
    }

    .newGroup_container {
        background-color: transparent;
        min-width: -moz-fit-content;
        min-width: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        max-height: 444px;

        @media only screen and (max-width: 700px) {
            max-height: fit-content;
        }

        .top-bar {
            display: flex;
            position: relative;
            width: 100%;
            height: 50px;
            justify-content: center;
            background-color: #47476b;
            border-radius: 12px 12px 0 0;
            align-items: center;
            padding: 0;

            h3 {
                font-weight: 600;
                font-size: 1.1rem;
            }

            .back {
                display: flex;
                font-weight: 500;
                position: absolute;
                font-size: 20px;
                right: 2%;
                cursor: pointer;

                svg {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .newGroup_create {
        display: flex;
        justify-content: space-between;
        background: linear-gradient(to right, #30314d, #22233c);
        border-radius: 0 0 12px 12px;

        @media only screen and (max-width: 700px) {
            flex-direction: column;
            background: linear-gradient(to bottom, #30314d, #22233c);
        }

        .left {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 2rem;
            width: 325px;
            gap: 1rem;

            @media only screen and (max-width: 700px) {
                gap: 0.7rem;
            }

            .inputs {
                display: flex;
                flex-direction: column;
                gap: 0.8rem;
                width: 100%;

                @media only screen and (max-width: 700px) {
                    gap: 0.6rem;
                }

                .input-image {
                    display: flex;
                    gap: 1rem;
                    align-self: center;

                    label {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background-color: #f3f3f3;
                        gap: 0.4rem;
                        padding: 0.7rem 1.5rem;
                        width: 60px;
                        border-radius: 50%;
                        height: 60px;
                        object-fit: cover;
                        cursor: pointer;
                        margin-bottom: 0.6rem;

                        @media only screen and (max-width: 700px) {
                            margin: 0;
                        }

                        svg {
                            color: #857b79;
                            font-size: 1.2rem;
                        }

                        span {
                            font-family: "Poppins", sans-serif;
                            font-size: 0.9rem;
                            color: #818381;
                        }
                    }

                    .avatar {
                        position: relative;

                        img {
                            width: 60px;
                            height: 60px;
                            max-width: 60px;
                            border-radius: 50%;
                            object-fit: cover;
                        }

                        .overlay {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            background: rgb(44, 45, 72, 0.6);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            opacity: 1;

                            .icon {
                                color: #b3b3b3;
                                font-size: 22px;
                            }
                        }
                    }

                    .image {
                        display: none;
                    }
                }

                input {
                    background-color: #47476b;
                    outline: none;
                    padding: 0.8rem;
                    border-radius: 8px;
                    width: 100%;
                }
            }

            .selectedUsers {
                display: none;

                &.visible {
                    overflow: hidden;
                    display: flex;
                    max-height: 92px;

                    .userList {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 0.5rem;
                        width: 258px;
                        overflow: auto;

                        .singleUser {
                            display: flex;
                            align-items: center;
                            background: #818181;
                            color: white;
                            padding: 2px 6px;
                            border-radius: 10px;
                            gap: 6px;
                            width: fit-content;

                            .name {
                                text-transform: uppercase;
                                font-size: 0.9rem;
                                font-family: "Roboto Mono", monospace;
                            }

                            button {
                                font-size: 1.2rem;
                            }
                        }
                    }
                }
            }

            .create {
                width: -moz-fit-content;
                width: fit-content;
                background: linear-gradient(to right, #727fe7, #9474e7);
                color: white;
                padding: 4px 12px;
                margin-top: 0.5rem;
                align-self: flex-start;
                border-radius: 8px;
                font-weight: 500;
                font-size: 1.1rem;
            }
        }

        .right {
            display: none;

            &.visible {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 0.5rem;
                border-left: 1px solid #333556;
                width: 325px;
                overflow: hidden;
                max-height: 378px;

                @media only screen and (max-width: 700px) {
                    max-height: 185px;
                    border-top: 1px solid #333556;
                    border-left: none;
                }

                .head {
                    color: white;
                    width: 100%;
                    font-weight: 500;
                    text-align: center;
                    padding-block: 0.5rem;
                    border-bottom: 1px solid #1e2038;
                }

                ul {
                    overflow: auto;
                    width: 90%;
                }
            }
        }
    }
}
