.Messages {
    padding: 10px 10px 0 10px;
    background: url("../../assets/chatBg.jpg") center / cover no-repeat;

    .user-message {
        display: flex;
        gap: 4px;
        width: 100%;
        align-items: center;
        min-height: 35px;
        margin-bottom: 10px;

        &.my-message {
            justify-content: flex-end;
            .my-text {
                background-color: rgb(48, 139, 185);
            }
        }

        .user-text {
            background-color: rgb(121, 121, 121);
        }

        .message-text {
            border-radius: 0.8rem;
            padding: 0.1rem 0.6rem;
            height: fit-content;
            display: flex;
            gap: 0.5rem;
            color: white;
            word-wrap: break-word;
            max-width: 70%;

            .single-message {
                padding-block: 0.2rem;
            }

            .message-time {
                font-size: 0.7rem;
                align-self: flex-end;
                white-space: nowrap;
            }
        }

        &.my-message img {
            display: none;
        }
    }

    .typing {
        display: flex;
        gap: 4px;
        width: 100%;
    }

    img {
        height: 35px;
        width: 35px;
        border-radius: 50%;
        object-fit: cover;
    }

    .blankImg {
        visibility: hidden;
    }
}
