@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");

.UserChats {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 2rem 2rem 0 2rem;
    border-right: 1px solid #333446;
    background: linear-gradient(to bottom, #40415f, #2f304c);
    overflow: hidden;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #818181;
        padding-bottom: 0.5rem;

        .heading {
            font-size: 2rem;
            font-weight: 600;
            font-family: "Signika Negative", sans-serif;
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
        }
    }

    .searchBar {
        width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
        background-color: #2e2f4c;
        padding: 8px 27px;
        border-radius: 8px;

        .searchIcon {
            color: #c5c5c5;
            font-size: 1.4rem;
        }

        input {
            background: #2e2f4c;
            border: none;
            width: 100%;
            outline: none;

            &::placeholder {
                color: #c5c5c5;
                font-weight: 500;
            }
        }
    }

    .singleChats {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        overflow-y: auto;
    }

    .sidebar {
        display: none;
    }
}
