@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");

.UserChats {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 2rem;
    width: 400px;
    border-right: 1.5px solid #dddddd;
    overflow: hidden;

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 0.5rem;

        .heading {
            font-size: 2rem;
            font-weight: 600;
            font-family: "Signika Negative", sans-serif;
        }

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .searchBar {
        width: 100%;
        display: flex;
        gap: 1rem;
        align-items: center;
        background-color: #e5e5e5;
        padding: 8px 27px;
        border-radius: 8px;

        .searchIcon {
            color: #5a5a5a;
            font-size: 1.1rem;
        }

        input {
            background: #e5e5e5;
            border: none;
            outline: none;

            &::placeholder {
                color: #5a5a5a;
                font-weight: 500;
            }
        }
    }

    .singleChats {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
