.Home {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 4.5fr 9fr;
    background-color: #3f405e;
    color: white;

    .sidebar {
        height: 100%;
        overflow: hidden;

        @media only screen and (max-width: 950px) {
            grid-area: 2/1/2/2;
        }

        @media only screen and (max-width: 600px) {
            &.chat-selected {
                display: none;
            }
        }
    }

    .outlet {
        height: 100%;
        overflow: hidden;

        @media only screen and (max-width: 950px) {
            grid-area: 1/1/2/2;
        }

        @media only screen and (max-width: 600px) {
            &.chat-selected {
                display: none;
            }
        }
    }

    .chatbox {
        height: 100%;
        overflow: hidden;

        @media only screen and (max-width: 950px) {
            grid-area: 1/2/3/3;
        }

        @media only screen and (max-width: 600px) {
            display: none;

            &.chat-selected {
                display: block;
                grid-area: 1/1/3/2;
            }
        }
    }

    @media only screen and (max-width: 950px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 9fr 0.9fr;
    }

    @media only screen and (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}
