.SingleChat {
    display: flex;
    height: fit-content;
    padding: 8px;
    border-radius: 10px;
    align-items: center;
    gap: 1rem;
    width: 100%;
    cursor: pointer;
    position: relative;

    img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
    }

    .nameContent {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        white-space: nowrap;

        h3 {
            font-weight: 600;
            text-transform: capitalize;
            font-family: "Poppins", sans-serif;
        }

        p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: #c5c5c5;
            margin: 0;
        }
    }

    .notification-dot {
        margin-left: auto;
        color: #5d4df6;
        padding-top: 1.2rem;
    }

    .latest-msg-time {
        position: absolute;
        right: 8px;
        top: 8px;
        color: #c5c5c5;
        font-size: 0.8rem;
    }
}

.selected {
    background-color: #818181;
}
